@import "breakpoints";
@import "colors";
@import "variables";

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;

  main {
    flex-grow: 1;
  }

  button {
    background-color: $blue--dark;
    color: $buttonFontColor;
    border: none;
    border-radius: 9px;
    text-align: center;
    margin: 20px 0;
    width: 160px;
    height: 45px;
    font-size: 15px;

    @include md-screen {
      width: 180px;
      height: 48px;
      font-size: 16px;
    }

    @include xxl-screen {
      width: 200px;
      height: 50px;
      font-size: 18px;
    }
  }
}

header {
  height: 76px;
  width: 100%;
  padding: 0 2%;
  background-color: white;
  display: flex;
  align-items: center;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // Style header with nav items visible
    // @include md-screen {
    //   justify-content: space-around;
    // }
  }

  img {
    height: 70px;
    width: 70px;

    @include md-screen {
      height: 80px;
      width: 80px;
    }
  }

  @include md-screen {
    height: 87px;
  }

  @include lg-screen {
    height: 110px;
  }

  nav {
    width: 40%;
    font-weight: 600;
    display: none;

    @include sm-screen {
      height: 22px;
      margin: 20px;
    }

    @include md-screen {
      // Make nav items visible
      // display: block;
      height: 22px;
      margin: 25px;
    }

    @include lg-screen {
      height: 22px;
      margin-left: 65px;
    }

    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

    }

    li {
      display: inline;
    }
  }
}

.hero {
  margin-bottom: 0;

  .wrapper {
    background-image: url('../public/images/couple-painting_mobile.png');
    background-position: 40% 0%;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 250px;
    height: 60vw;
    max-height: 900px;

    @include lg-screen {
      background-image: url('../public/images/couple-painting_desktop.png');
      background-size: cover;
      background-position: top center;
    }
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include lg-screen {
      justify-content: flex-start;
    }

    strong,
    span {
      font-weight: 600;
    }

    span {
      color: $spanColor;
    }

    h1 {
      width: 59%;
      font-size: 1.1em;
      font-weight: 300;

      @include sm-screen {
        font-size: 1.2em;
      }

      @include md-screen {
        font-size: 1.6em;
      }

      @include lg-screen {
        width: 40%;
        margin-top: 10vw;
        font-size: 1.7em;
      }

      @include xl-screen {
        font-size: 2em;
      }

      @include xxl-screen {
        width: 480px;
        font-size: 38px;
      }
    }

    p {
      width: 50%;
      font-size: 1em;
      font-weight: 400;
      line-height: 1.2;

      @include md-screen {
        font-size: 1.2em;
      }

      @include lg-screen {
        width: 40%;
        margin: 1vw 0;
        font-size: 1.3em;
      }

      @include xl-screen {
        font-size: 1.5em;
        margin: 2vw 0;
        width: 380px;
      }

      @include xxl-screen {
        margin: 35px 0;
        font-size: 23px;
      }
    }

    .button_desktop {
      display: none;

      @include md-screen {
        display: block;
      }

      @include lg-screen {
        margin: 6vw 0;
      }

      @include xl-screen {
        margin: 8vw 0;
      }

      @include xxl-screen {
        margin: 125px 0;
      }
    }
  }

  .containerButton {
    background-color: $white;
    display: flex;
    justify-content: center;

    @include md-screen {
      display: none;
    }
  }
}

.skills,
.infoCard {
  height: 585px;
  width: 100%;

  @include lg-screen {
    height: 615px;
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;

    @include md-screen {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .image {
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      @include md-screen {
        height: 100%;
        width: 50%;
      }

      img {
        object-fit: cover;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 40%;
      text-align: center;

      @include md-screen {
        justify-content: space-evenly;
        align-items: flex-start;
        width: 45%;
        height: 60%;
      }

      h2 {
        text-shadow: $textShadow;
        max-width: 365px;
        text-align: left;
        max-width: 390px;
        font-weight: 900;
        font-size: 1em;

        @include sm-screen {
          font-size: 1.1em;
        }

        @include md-screen {
          font-size: 1.4em;
        }

        @include lg-screen {
          font-size: 1.5em;
        }

        @include xl-screen {
          font-size: 1.8em;
        }

        @include xxl-screen {
          font-size: 35px;
        }
      }

      p {
        max-width: 382px;
        text-shadow: $textShadow;
        text-align: justify;
        text-align: left;
        font-size: 1em;
        max-width: 370px;
        line-height: 1.2;

        @include md-screen {
          font-size: 1.1em;
          align-items: flex-end;
        }

        @include lg-screen {
          font-size: 1.2em;
        }

        @include xl-screen {
          font-size: 1.4em;
        }

        @include xxl-screen {
          font-size: 20px;
        }

      }
    }
  }
}

.skills {
  background-color: $blue--light;

  .container {
    .image {
      .background__circle {
        background-color: $purple--light;
        opacity: .5;
        position: absolute;
        width: 280px;
        height: 280px;
        border-radius: 50%;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;

        @include md-screen {
          width: 320px;
          height: 320px;
        }

        @include lg-screen {
          width: 380px;
          height: 380px;
        }

        @include xl-screen {
          width: 440px;
          height: 440px;
        }
      }

      img {
        height: 90%;
        z-index: 1;
      }
    }
  }
}

.infoCard {
  background-color: white;
  margin-bottom: 0;

  .image.image {
    @include md-screen {
      order: 2;
    }

    img {
      width: 90%;
      max-width: 280px;

      @include md-screen {
        height: auto;
        max-width: 320px;
      }

      @include lg-screen {
        max-width: 380px;
      }

      @include xl-screen {
        max-width: 440px;
      }
    }
  }

  // Align to right on medium screen and bigger;
  .content.content {
    @include md-screen {
      align-items: flex-end;
    }

    h2,
    p {
      @include md-screen {
        text-align: right;
      }
    }
  }
}

footer {
  background-color: #FDECCD;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74px;
  width: 100%;

  @include md-screen {
    height: 125px;
  }

  @include lg-screen {
    height: 200px;
  }

  img {
    height: 70px;
    width: 70px;

    @include md-screen {
      height: 110px;
      width: 110px;
    }
  }
}