body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}
body main {
  flex-grow: 1;
}
body button {
  background-color: #233865;
  color: #FFFFFF;
  border: none;
  border-radius: 9px;
  text-align: center;
  margin: 20px 0;
  width: 160px;
  height: 45px;
  font-size: 15px;
}
@media screen and (min-width: 768px) {
  body button {
    width: 180px;
    height: 48px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1400px) {
  body button {
    width: 200px;
    height: 50px;
    font-size: 18px;
  }
}

header {
  height: 76px;
  width: 100%;
  padding: 0 2%;
  background-color: white;
  display: flex;
  align-items: center;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  height: 70px;
  width: 70px;
}
@media screen and (min-width: 768px) {
  header img {
    height: 80px;
    width: 80px;
  }
}
@media screen and (min-width: 768px) {
  header {
    height: 87px;
  }
}
@media screen and (min-width: 992px) {
  header {
    height: 110px;
  }
}
header nav {
  width: 40%;
  font-weight: 600;
  display: none;
}
@media screen and (min-width: 576px) {
  header nav {
    height: 22px;
    margin: 20px;
  }
}
@media screen and (min-width: 768px) {
  header nav {
    height: 22px;
    margin: 25px;
  }
}
@media screen and (min-width: 992px) {
  header nav {
    height: 22px;
    margin-left: 65px;
  }
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header nav li {
  display: inline;
}

.hero {
  margin-bottom: 0;
}
.hero .wrapper {
  background-image: url("../public/images/couple-painting_mobile.png");
  background-position: 40% 0%;
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 250px;
  height: 60vw;
  max-height: 900px;
}
@media screen and (min-width: 992px) {
  .hero .wrapper {
    background-image: url("../public/images/couple-painting_desktop.png");
    background-size: cover;
    background-position: top center;
  }
}
.hero .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .hero .container {
    justify-content: flex-start;
  }
}
.hero .container strong,
.hero .container span {
  font-weight: 600;
}
.hero .container span {
  color: #233865;
}
.hero .container h1 {
  width: 59%;
  font-size: 1.1em;
  font-weight: 300;
}
@media screen and (min-width: 576px) {
  .hero .container h1 {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 768px) {
  .hero .container h1 {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 992px) {
  .hero .container h1 {
    width: 40%;
    margin-top: 10vw;
    font-size: 1.7em;
  }
}
@media screen and (min-width: 1200px) {
  .hero .container h1 {
    font-size: 2em;
  }
}
@media screen and (min-width: 1400px) {
  .hero .container h1 {
    width: 480px;
    font-size: 38px;
  }
}
.hero .container p {
  width: 50%;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .hero .container p {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 992px) {
  .hero .container p {
    width: 40%;
    margin: 1vw 0;
    font-size: 1.3em;
  }
}
@media screen and (min-width: 1200px) {
  .hero .container p {
    font-size: 1.5em;
    margin: 2vw 0;
    width: 380px;
  }
}
@media screen and (min-width: 1400px) {
  .hero .container p {
    margin: 35px 0;
    font-size: 23px;
  }
}
.hero .container .button_desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero .container .button_desktop {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .hero .container .button_desktop {
    margin: 6vw 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero .container .button_desktop {
    margin: 8vw 0;
  }
}
@media screen and (min-width: 1400px) {
  .hero .container .button_desktop {
    margin: 125px 0;
  }
}
.hero .containerButton {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .hero .containerButton {
    display: none;
  }
}

.skills,
.infoCard {
  height: 585px;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .skills,
  .infoCard {
    height: 615px;
  }
}
.skills .container,
.infoCard .container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .skills .container,
  .infoCard .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.skills .container .image,
.infoCard .container .image {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .skills .container .image,
  .infoCard .container .image {
    height: 100%;
    width: 50%;
  }
}
.skills .container .image img,
.infoCard .container .image img {
  -o-object-fit: cover;
     object-fit: cover;
}
.skills .container .content,
.infoCard .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .skills .container .content,
  .infoCard .container .content {
    justify-content: space-evenly;
    align-items: flex-start;
    width: 45%;
    height: 60%;
  }
}
.skills .container .content h2,
.infoCard .container .content h2 {
  text-shadow: 2px 2px 4px #a8a8a8;
  max-width: 365px;
  text-align: left;
  max-width: 390px;
  font-weight: 900;
  font-size: 1em;
}
@media screen and (min-width: 576px) {
  .skills .container .content h2,
  .infoCard .container .content h2 {
    font-size: 1.1em;
  }
}
@media screen and (min-width: 768px) {
  .skills .container .content h2,
  .infoCard .container .content h2 {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 992px) {
  .skills .container .content h2,
  .infoCard .container .content h2 {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1200px) {
  .skills .container .content h2,
  .infoCard .container .content h2 {
    font-size: 1.8em;
  }
}
@media screen and (min-width: 1400px) {
  .skills .container .content h2,
  .infoCard .container .content h2 {
    font-size: 35px;
  }
}
.skills .container .content p,
.infoCard .container .content p {
  max-width: 382px;
  text-shadow: 2px 2px 4px #a8a8a8;
  text-align: justify;
  text-align: left;
  font-size: 1em;
  max-width: 370px;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .skills .container .content p,
  .infoCard .container .content p {
    font-size: 1.1em;
    align-items: flex-end;
  }
}
@media screen and (min-width: 992px) {
  .skills .container .content p,
  .infoCard .container .content p {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1200px) {
  .skills .container .content p,
  .infoCard .container .content p {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 1400px) {
  .skills .container .content p,
  .infoCard .container .content p {
    font-size: 20px;
  }
}

.skills {
  background-color: #F9F9F9;
}
.skills .container .image .background__circle {
  background-color: #F1ECFF;
  opacity: 0.5;
  position: absolute;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .skills .container .image .background__circle {
    width: 320px;
    height: 320px;
  }
}
@media screen and (min-width: 992px) {
  .skills .container .image .background__circle {
    width: 380px;
    height: 380px;
  }
}
@media screen and (min-width: 1200px) {
  .skills .container .image .background__circle {
    width: 440px;
    height: 440px;
  }
}
.skills .container .image img {
  height: 90%;
  z-index: 1;
}

.infoCard {
  background-color: white;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .infoCard .image.image {
    order: 2;
  }
}
.infoCard .image.image img {
  width: 90%;
  max-width: 280px;
}
@media screen and (min-width: 768px) {
  .infoCard .image.image img {
    height: auto;
    max-width: 320px;
  }
}
@media screen and (min-width: 992px) {
  .infoCard .image.image img {
    max-width: 380px;
  }
}
@media screen and (min-width: 1200px) {
  .infoCard .image.image img {
    max-width: 440px;
  }
}
@media screen and (min-width: 768px) {
  .infoCard .content.content {
    align-items: flex-end;
  }
}
@media screen and (min-width: 768px) {
  .infoCard .content.content h2,
  .infoCard .content.content p {
    text-align: right;
  }
}

footer {
  background-color: #FDECCD;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  footer {
    height: 125px;
  }
}
@media screen and (min-width: 992px) {
  footer {
    height: 200px;
  }
}
footer img {
  height: 70px;
  width: 70px;
}
@media screen and (min-width: 768px) {
  footer img {
    height: 110px;
    width: 110px;
  }
}/*# sourceMappingURL=style.css.map */